<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.czmen.model.User" alias="User" />
	</typeAliases>
	
	<!-- SQL-Mapping映射文件 -->
	<mappers>
		<mapper resource="com/czmen/mapper/User.SqlMap.xml" />
	</mappers>
</configuration>